<div class="row">
  <div class="col-md-9">
    <%= link_to @url, @url %>
    <p><%= embed_description(@url) %></p>

    <% if find_type(@url) == 'video' %>
      <%= embed_media(@url, 800) %>
    <% else %>
      <div class="img">
        <%= link_to image_tag(@bookmark.image), @url %>
      </div>
    <% end %>

  </div>
  <div class="col-md-3">
    <ul>
      <li><%= link_to "#{@bookmark.topic.title} Bookmarks", topic_path(@topic), class: "btn btn-block btn-lg btn-success" %></li>
      <li><%= link_to "Edit Bookmark", edit_topic_bookmark_path(@topic, @bookmark), class: "btn btn-block btn-lg btn-warning" %></li>
      <li><%= link_to "Delete Bookmark", [@topic, @bookmark], method: :delete, class: "btn btn-block btn-lg btn-danger" %></li>
    </ul>
  </div>
</div>