<div class="row">
  <div class="col-md-3">
    <h1><%= @topic.title %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "Edit Topic", edit_topic_path, class: "btn btn-block btn-lg btn-warning" %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "Delete Topic", @topic, method: :delete, class: "btn btn-block btn-lg btn-danger" %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @post), class: "btn btn-block btn-lg btn-primary" %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <% @bookmarks.each do |topic_bookmark| %>
      <% url = topic_bookmark.url %>
        <%= link_to image_tag(topic_bookmark.image), topic_bookmark.url, target: "blank" %>
        <%= render partial: 'likes/like', locals: { bookmark: topic_bookmark, topic: @topic} %>
      </h4>
      <h5><%= link_to "Show", topic_bookmark_path(@topic, topic_bookmark) %>
      <small>submitted <%= time_ago_in_words(topic_bookmark.created_at) %> ago</small></h5>
    <% end  %>
  </div>
</div>