<div class="row">
  <div class="col-md-3">
    <h1><%= @topic.title %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "Edit Topic", edit_topic_path, class: "btn btn-block btn-lg btn-warning" %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "Delete Topic", @topic, method: :delete, class: "btn btn-block btn-lg btn-danger" %></h1>
  </div>
  <div class="col-md-3">
    <h1><%= link_to "New Bookmark", new_topic_bookmark_path(@topic, @post), class: "btn btn-block btn-lg btn-primary" %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">   
    <div id="brick" class="transitions-enabled infinite-scroll clearfix">
      <% @bookmarks.each do |bookmark| %>
        <div class="img">
          <a target="blank" href="<%= bookmark.url %>">
            <img src="<%= bookmark.image %>" width="100" height="100">
          </a>
          <div class="desc">
            <small>
              <ul>
                <li><%= bookmark.image_file_name %></li>
                <li><%= render partial: 'likes/like', locals: { bookmark: bookmark, topic: @topic} %></li>
                <li><%= link_to "Show", topic_bookmark_path(@topic, bookmark) %></li>
              </ul>
            </small>
          </div> 
        </div>
      <% end %>
    </div>
  </div>
</div>