<% @topics.each do |topic| %>
  <h3 class="text_line"><%= link_to topic.title, topic_path(topic) %></h3>
  <div id="brick" class="transitions-enabled infinite-scroll clearfix">
    <% topic.bookmarks.each do |bookmark| %>
      <div class="img">
        <a target="blank" href=<%= bookmark.url %>>
          <img src=<%= bookmark.image %> width="100" height="100">
        </a>
        <div class="desc">
          <small>
            <ul>
              <li><%= bookmark.image_file_name %></li>
              <li><%= render partial: 'likes/like', locals: { bookmark: bookmark, topic: topic} %></li>
              <li><%= link_to "Show", topic_bookmark_path(topic, bookmark) %></li>
            </ul>
          </small>
        </div> 
      </div>
    <% end %>
  </div>
<% end %>